.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .div {
  background-color: #ffffff;
  height: 844px;
  overflow: hidden;
  position: relative;
  width: 390px;
}

.login .overlap {
  height: 257px;
  left: -195px;
  position: absolute;
  top: 210px;
  width: 554px;
}

.login .vector {
  height: 212px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.login .rectangle {
  border: 1px solid;
  border-color: #887e7e;
  border-radius: 5px;
  height: 60px;
  left: 224px;
  position: absolute;
  top: 126px;
  width: 330px;
}

.login .rectangle-2 {
  border: 1px solid;
  border-color: #887e7e;
  border-radius: 5px;
  height: 60px;
  left: 223px;
  position: absolute;
  top: 197px;
  width: 330px;
}

.login .google-logo {
  height: 30px;
  left: 102px;
  position: absolute;
  top: 47px;
  width: 30px;
}

.login .facbook {
  height: 30px;
  left: 170px;
  position: absolute;
  top: 47px;
  width: 30px;
}

.login .group {
  height: 30px;
  left: 240px;
  position: absolute;
  top: 47px;
  width: 25px;
}

.login .username-email-phone {
  color: #625b5b;
  font-family: "Outfit-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 243px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 144px;
}

.login .text-wrapper {
  color: #625b5b;
  font-family: "Outfit-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 244px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 216px;
}

.login .text-wrapper-2 {
  color: #000000;
  font-family: "Outfit-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 224px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 77px;
}

.login .status-bar {
  height: 44px;
  left: -18px;
  position: absolute;
  top: 0;
  width: 409px;
}

.login .status-icons {
  align-items: center;
  display: inline-flex;
  gap: 4px;
  left: 326px;
  position: absolute;
  top: 16px;
}

.login .network-signal-light {
  height: 14px;
  position: relative;
  width: 20px;
}

.login .wifi-signal-light {
  height: 14px;
  position: relative;
  width: 16px;
}

.login .battery-light {
  height: 14px;
  position: relative;
  width: 25px;
}

.login .img {
  height: 4px;
  left: 24px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.login .overlap-group {
  background-image: url(./rectangle-21-stroke.svg);
  background-size: 100% 100%;
  height: 12px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 23px;
}

.login .rectangle-3 {
  background-color: #000000;
  border-radius: 1px;
  height: 8px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.login .time-light {
  height: 21px;
  left: 21px;
  position: absolute;
  top: 12px;
  width: 54px;
}

.login .div-wrapper {
  background-color: #0b6efe;
  border-radius: 5px;
  height: 60px;
  left: 28px;
  position: absolute;
  top: 527px;
  width: 330px;
}

.login .text-wrapper-3 {
  color: #ffffff;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 128px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.login .ellipse {
  background-color: #ebe9eb;
  border: 0.4px solid;
  border-color: #f79aee;
  border-radius: 26px;
  height: 52px;
  left: 91px;
  position: absolute;
  top: 668px;
  width: 52px;
}

.login .ellipse-2 {
  background-color: #ebe9eb;
  border: 0.4px solid;
  border-color: #f79aee;
  border-radius: 26px;
  height: 52px;
  left: 159px;
  position: absolute;
  top: 668px;
  width: 52px;
}

.login .ellipse-3 {
  background-color: #ebe9eb;
  border: 0.4px solid;
  border-color: #f79aee;
  border-radius: 26px;
  height: 52px;
  left: 227px;
  position: absolute;
  top: 668px;
  width: 52px;
}

.login .rectangle-4 {
  background: linear-gradient(
    180deg,
    rgb(11, 110, 254) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  height: 3px;
  left: 6px;
  position: absolute;
  top: 627px;
  width: 132px;
}

.login .rectangle-5 {
  background: linear-gradient(
    180deg,
    rgb(11, 110, 254) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  height: 3px;
  left: 243px;
  position: absolute;
  top: 627px;
  transform: rotate(-180deg);
  width: 132px;
}

.login .text-wrapper-4 {
  color: #555151;
  font-family: "Outfit-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 145px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 620px;
}

.login .text-wrapper-5 {
  color: #625b5b;
  font-family: "Outfit-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 227px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 472px;
}

.login .undraw-login-re {
  height: 187px;
  left: -170px;
  position: absolute;
  top: -357px;
  width: 310px;
}
